.title {
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;

    /*flex-direction: column;*/
    padding: 5px;
    overflow: hidden;
}


.parentBlock{
    margin: 1rem;

}

.block {
     display: inline-grid;
     background-color : #FFFFFF;
     border: solid #000000;
     padding: 1rem 1rem;


 }
.blockPostIt {

    display: inline-grid;
    background-color : #FFD919;
    border: thin #006666;
    padding: 1rem 1rem;


}

.button {

    alignment: right;
    margin: 0.1rem ;
}

.note {
    border: thin #006666;
}
.list_note {
    font-style: oblique;
}